body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.home-text {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.home-text a {
    text-decoration: none;
    color: #fff;
}

.home-text a:hover {
    text-decoration: underline;
}

.team-details {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.team-details h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.team-details img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.team-details p {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

.players-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.player-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.player-card:hover {
    transform: scale(1.05);
}

.player-card img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.player-info p {
    margin-bottom: 10px;
    color: #777;
}
